.btn{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 3px rgb(16, 143, 202) solid;
    border-radius: 10px;
    padding: 5px;
}
.btn:hover{
    background-color: rgb(16, 143, 202);
    color: rgb(0, 0, 0);
    padding: 10px;
}
@font-face {
    font-family: Jersey10-Regular;
    src: url('Jersey10-Regular.ttf');
}
body{
    font-family: Jersey10-Regular;
}