.btn{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 8px;
    padding: 5px;
}
.btn:hover{
    background-color: rgb(221, 0, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
}
@font-face {
    font-family: Jersey10-Regular;
    src: url('Jersey10-Regular.ttf');
}
body{
    font-family: Jersey10-Regular;
}
header{
    background-color: aqua;
    padding-bottom: 6px;
    padding-left: 3px;
}